.clear{clear:both}
.go_jiesuan{margin-top:10px}
.go_jiesuan_left{float:left}
.go_jiesuan_left span{color:#F00;font-weight:bold}
.go_jiesuan_left div{margin-bottom:5px}
.go_jiesuan_right{float:right;margin-top:10px}
/*¬Úº“…πÕº*/
.youhui_title{padding-left:5%;height:30px;line-height:30px; text-align:center;border-bottom:1px solid #e9e9e9;margin-top:10px;padding-bottom:10px}
.youhui_title li{float:left;width:45%;background-color:#EBEBEB;color:#6D6D6D}
.youhui_content{border-top:1px solid #e5e5e5;padding-top:10px;padding-left:5%;padding-right:5%}
.youhui_num{width:47%;float:left;padding-left:5%;}
.youhui_time{width:46%;float:left; text-align:center}
.youhui_one_main{margin-left:3%;border-top:1px solid #ccc;margin-top:4px;margin-right:3%}
.youhui_kuang{margin-top:20px; background-color:#fff;border:1px solid #e6e6e6}
.youhui_money{width:50%;float:left;padding-top:10px;padding-left:5px}
.youhui_name{width:45%;float:left;padding-top:5px;padding-left:5px}
.youhui_money{color:#f00;font-size:14px;font-weight:bold}
.youhui_box{margin-bottom: 20px;}
.youhui_two{display: none;}
.youhui_current a{color:#0ca5bd}
/*”≈ª›»Ø*/


