/*----------------------------------------------活动页面 2011-08-04----------------------------------------------*/

/*-----------------页面布局-公共变量---------------*/
ul li{ list-style:none;}

/*-----------------页面布局-----------------------*/

.goods_ul{width:974px; height:363px; padding:32px 0 0 28px;}
.goods_li{width:195px; height:330px; float:left; text-align:center;}
.goods_bt{width:126px; height:59px; margin:0 auto; margin-top:10px;}

.goods_jt{width:15px; height:319px; float:left; background-image:url(../images/active/good_jt.gif); background-repeat:no-repeat; background-position:0 195px;}
.span_pic {width:40px; height:319px; float:left;}
/*-----------------页面布局-----------------------*/



/*---------------------------------------------------------------------中秋节活动页面
---------------------------------------------------------------------*/






/*---------------------------------------------------------------------中秋节活动页面---------------------------------------------------------------------*/
