/*-----------------------------------------------------------------------------购物流程页面-----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------公共字体，颜色-------------------------------------------------------------------------*/
/**{font-family:宋体, Arial,sans-serif;}*/
.border_1_dc{ border:1px #dcdcdc solid;}
.font_14_666{font-size:14px; color:#666;}
.block{width:990px; height:auto;}

.tel400_row{line-height:48px; height:48px; text-align:center;}
.font_tel400{ color:#E43232; font-size:12px;}
.text_left{ text-align:left;}
.text_right{ text-align:right;}
.ta_l{ text-align:left;}
.ta_r{ text-align:right;}
.ti_12{ text-indent:12px;}
.ds_none{ display:none;}
.ds_block{ display:block;}
.border1{border:1px solid #ccc;}
.border2{border:1px solid #ccc; display:none;}
/*---------------------------------------------------------------------------公共字体，颜色--------------------------------------------------------------------*/

/*-----------------------------------page_header2.lib---购物页面头部覆盖base.css----------------------------------------------------*/
#topgbj{ background-image:url('../images/topbg_flow.jpg'); background-repeat:repeat-x; height:128px; width:100%;}
.headline{height:4px; width:990px; margin:0 auto;}
/*-----------------------------------page_header2.lib---购物页面头部覆盖base.css----------------------------------------------------*/

/*----------------------------------------------------------order_total.lib------------------------------------------------------*/
.f4_b{color:#990000; font-size:13px;} /*old*/
.fs_14{font-size:14px;}
.yi_font_sum{ color:#c00; border-bottom:1px solid #ffe6e6; font-size:14px; font-weight:bold;} /*金额总计*/

.total_weight{display:inline-block; width:260px; margin:0 20px 0 0;}
.li_total_tip{width:auto; height:24px; line-height:24px; padding:0; width:700px; float:right;}
.total_add_bt{display:inline-block; width:60px; height:20px; vertical-align:middle; background:url(../images/cart/bt_add_goods.gif) no-repeat; text-align:center;}
.total_add_bt:hover{ text-decoration:none; color:#333;}
/*----------------------------------------------------------order_total.lib------------------------------------------------------*/

/*---------------------------------------------------------------------------购物车第一步---------------------------------------------------------------------*/
#main{margin:0 auto; width:990px; height:auto;}
.cart1_end{width:530px; height:33px; text-align:right; margin-right:15px; float:right;}
.note1{font-size:14px; font-weight:bold; color:#666;}
.cart1_back{display:inline; margin-right:5px;}

#carthead{width:990px; height:37px; background:url(../images/flow1.jpg) no-repeat; overflow:hidden;}
#cartbot{ width:990px; height:14px;}

#cartzt{width:986px; height:auto; border:none; margin:1px;}
.hongse{color:#FF0000; font-size:16px;}
.hongsez{color:#FF0000;}

#cartyh{margin:0 auto; width:964px; line-height:20px; height:20px; margin-top:4px; text-align:left;} 
#cartxhx{margin:0 auto; width:964px; height:6px;text-align:left;} 
#cartyhs{margin:0 auto; width:964px; height:28px;text-align:left; padding-top:4px;} 

#cartsub{margin:25px auto; width:952px; height:48px; text-align:left;} 
#cartsubleft{ float:left;width:400px; height:60px;}

#datatb th{text-align:center;}
.flow_ds_td{width:110px; display:inline-block; text-align:left; padding-left:20px;}

/*---------------------------------------------------------------------------【组件】登录弹窗-------------------------------------------------------------------------*/
.lg_head{width:570px; height:38px; line-height:38px; color:white;}
.lg_head_left{width:300px; height:38px; font-size:16px; font-weight:bold; margin-left:10px; _display:inline;}
.lg_head_right{width:38px; height:38px; float:right;}
.lg_head_right a{width:38px; height:38px; font-size:12px; background:url(../images/xu/more/xx.gif) no-repeat 0 -115px; display:block;}

.lg_content{width:550px; height:210px; margin:0 auto 5px auto; background-color:white; padding:10px; _display:inline-block;}
.lg_con_left{width:395px; height:210px;}
.lg_con_right{width:154px; height:210px; border-left:1px solid #dcdcdc;}
.lg_con_r_ul{width:120px; height:auto; margin:45px 0 0 25px; color:#666; _display:inline-block;}
.lg_turn_bt a{width:117px; height:34px; margin-top:15px; background:url(../images/login/user.gif) no-repeat 0 -81px; display:block;}
.lg_turn_li{width:100%; height:22px; line-height:22px;}
.lg_con_tr1{width:100%; height:30px; line-height:30px; margin:5px auto; color:#666;}
.lg_con_tr2{width:100%; height:18px; line-height:18px; margin:10px auto 15px auto; color:#666;}
.lg_con_tr3{width:100%; height:27px; line-height:27px; margin:0px auto; color:#666;}
.lg_con_tr4{width:100%; height:18px; line-height:18px; margin:0px auto; color:#666; margin-top:30px;}
.lg_con_td1{width:102px; text-indent:12px;}
.lg_con_td2{width:190px;}
.lg_con_input{width:188px; height:26px; line-height:26px; border:1px solid #dcdcdc;}
.lg_con_td3{width:18px; height:18px; line-height:18px; margin-left:99px; _display:inline;}
.lg_con_td4{margin-left:4px; padding-top:1px; _display:inline;}
.lg_btn1{width:90px; height:27px; margin-left:102px; background:url(../images/login/user.gif) no-repeat 0 -27px; cursor:pointer; display:block; _display:inline-block;}
.lg_btn2{width:142px; height:27px; margin-left:10px; background:url(../images/login/user.gif) no-repeat 0 0; cursor:pointer; display:block; _display:inline-block;}
.lg_btn3{background-position:0 -54px;}
.lg_union{margin-left:12px; width:380px; _display:inline-block;}
.lg_union a{width:auto; height:18px; border-right:1px solid #dcdcdc; padding:0 5px 0 23px; display:block; margin-right:5px; _display:inline-block;}
.lg_union_t1{background:url(../images/login/login_tip1.gif) no-repeat;}
.lg_union_t2{background:url(../images/login/login_tip2.gif) no-repeat;}
.lg_union_t3{background:url(../images/login/login_tip3.gif) no-repeat;}
.lg_union_t4{background:url(../images/login/login_tip4.gif) no-repeat;}
.lg_union_a{width:88px; height:18px; line-height:18px; padding:0 5px 0 23px; display:block; margin:10px 0 0 0;}

.pop_shadow{width:100%; height:100%; position:fixed; left:0; top:0; z-index:5; filter:alpha(opacity=50); opacity:0.5; overflow:hidden; background:#666666; display:none;}
#lg_pan{ position:fixed; z-index:55; margin:0 auto; top:0; margin:210px 0 0 200px; overflow:hidden; display:none; width:580px; height:auto; border:4px solid #d9dcda; background-color:#2BBDD6;}

body{_height:180%;}
.pop_shadow, #lg_pan{_position:absolute; _left:expression_r(documentElement.scrollLeft + documentElement.clientWidth - this.offsetWidth); _top:expression_r(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight); }
/*---------------------------------------------------------------------------【组件】登录弹窗end-------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------购物车第二步【checkout】------------------------------------------------------------------------------------------*/
.bo_con{width:986px; height:auto; border:2px #dcdcdc solid; text-align:center; margin:23px 0 0 0; padding:0 0 20px 0;}
.bo_con_head{width:100%; height:30px; line-height:32px; background:url(../images/cart/bg_cart_title.jpg) repeat-x; text-align:left; text-indent:14px; font-size:14px;font-weight:bold; color:#333;}


/*---------------------------------------------------------------------------收货地址-------------------------------------------------------------------------*/
#div_addres{width:926px; height:auto; margin-left:36px; background-color:#f8f8f8; min-height:200px; margin:15px auto; border-top:2px #dcdcdc solid; border-bottom:1px #dcdcdc solid;}
#div_usually_address{width:850px; height:auto; min-height:30px; background-color:white; border:1px #dcdcdc dotted; margin:0 auto; padding:10px 0;}

.cap_usual_add{color:#999; font-size:12px; font-weight:bold; text-align:left;}

.cart_part_title{width:926px; height:30px; line-height:30px; text-align:left; text-indent:18px; color:#333;}
#tb_addres{ height:32px; line-height:32px; text-align:center; margin:10px auto 15px auto;}
#tb_other_info{ line-height:30px;}

.font_title{font-size:14px; font-weight:bold; font-family:'宋体';}
.a_title{color:#E43232; margin-left:16px; font-family:'宋体';}

.td_now_addres{width:126px; text-align:right; color:#999; padding-right:12px;}
.td_tb_addres1{width:66px; text-align:right; color:#f00; padding-right:3px; overflow:hidden;}
.td_tb_addres2{width:72px; color:#999; text-align:left; padding-right:15px; overflow:hidden;}
.td_tb_addres3{width:200px; text-align:left;}
.td_tb_addres4{width:500px; color:#404040; text-align:left;}
.delete_address{cursor:pointer; text-align:left; color:#999;}
.submit_address{width:100%; text-align:left; text-indent:68px; margin-bottom:15px;}

#now_addres{display:none; width:926px; height:auto; margin:17px auto 15px auto;}

/*---------------------------------------------------------------------------支付方式和配送方式------------------------------------------------------------*/
#div_pay{display:none; width:926px; height:auto; background-color:#f8f8f8; margin:15px auto; border-top:2px #dcdcdc solid; border-bottom:1px #dcdcdc solid;}
#tb_pay_list{border-bottom:1px #E43232 solid; margin:5px auto 10px auto;}

.tb_head_title{text-align:left; font-size:14px; font-weight:bold; color:#E43232;}
.online_tb_tr{}
.pay_online_ul{width:830px; height:372px; height:476px; border:1px #dcdcdc dotted; float:left; padding-left:10px; margin-top:8px; background-color:white;}
.online_head1{text-align:left; height:36px; line-height:36px;}
.online_head2{text-align:left; height:12px; line-height:12px; margin-bottom:12px;}
.online_tr{width:830px; height:44px; overflow:hidden; margin-bottom:12px;}
.online_tr li{ float:left; display:inline;}
.online_tr input{height:44px; line-height:44px;}
.online_tr img{ margin-right:6px; border:1px #dcdcdc solid;}
.online_tr img:hover{ border:1px #E05754 solid; cursor:pointer;}
.online_tr_li{width:36px; height:44px; text-align:center;}
.bank_ul{width:820px; height:216px; border:1px #dcdcdc dotted; float:left; margin-top:8px; padding:8px 0 0 20px; background-color:white;}
.bank_li{width:820px; height:18px; line-height:18px; margin-bottom:9px;}
.bank_li li{ float:left; display:inline;}
.bank_li_tr{ display:none;}
.active_cart_tip{background:url(../images/active/20121019/cart_tip.gif) no-repeat 35px 0; width:830px; height:30px; overflow:hidden;}

#tb_shipping_list{margin:0 auto;}
#shipping_self{}
.sb_pay{width:100%; text-align:left; text-indent:68px; margin:30px 0 15px 0;}

#now_pay{width:926px; height:auto; margin:15px auto; margin-top:17px; overflow:hidden;}
.show_pay{width:100%; height:66px; border-bottom:2px #dcdcdc dotted;}
#tb_now_pay{color:#333; display:block;}
/*---------------------------------------------------------------------------支付方式和配送方式-end-------------------------------------------------------*/



/*---------------------------------------------------------------------------其它信息-------------------------------------------------------------------------*/
.td_tb_info2{width:73px; text-align:left; color:#999; padding-right:20px;}
.td_tb_info3{width:760px; text-align:left;}
#inv_head{margin-left:40px; float:left;}

/*----------------------------------------------------水平方向占位-----------------------------------------------------*/
.widthspace20{display:inline-block; width:20px; border:1px #fff solid;}
.widthspace27{display:inline-block; width:27px; border:1px #fff solid;}
.widthspace54{display:inline-block; width:54px; border:1px #fff solid;}

/*-------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------红包，余额使用-------------------------------------------------------------------------*/
.redbag{width:580px; margin-left:16px; text-align:left; display:inline;}
.redhead{height:15px; line-height:15px; color:#666; font-weight:bold; background:url(../images/common/flow_jia.gif) no-repeat; text-indent:18px; cursor:pointer;}
.redbg2{background:url(../images/common/flow_jian.gif) no-repeat;}
.redbag_pan{margin:4px 0 6px 0; width:318px; height:30px; line-height:30px; color:#999; padding:7px 0 3px 0; border:1px solid #dcdcdc; background-color:white; display:none;}
.redbag_bt{cursor:pointer; margin:3px 0 0 6px;}
.yue_pan{width:350px; height:38px; border:1px solid #dcdcdc; background-color:white; float:left; margin-top:4px; color:#999; display:none;}
.yue_txt{width:110px; height:38px; line-height:38px; color:#666; text-indent:10px;}
.yue_input{height:30px; line-height:30px;}
/*---------------------------------------------------------------------------红包，余额使用end----------------------------------------------------------------------*/


/*---------------------------------------------------------------------------购物车最后一步【done】------------------------------------------------------------------------------------------*/
.main_done{width:990px; height:auto; margin:0 auto; padding:0;}
.done{width:990px; height:auto; min-height:300px; background-color:#f8f8f8; margin:25px auto; border-top:2px #dcdcdc solid; border-bottom:1px #dcdcdc solid;}
.dhead{width:100%; height:37px; margin-top:25px;}
.img_right{width:48px; height:37px; float:left; margin-left:40px; background:url(../images/cart/order_right.gif) no-repeat; _display:inline;}
.dhead_txt{width:300px; height:18px; line-height:18px; float:left; text-align:left; color:#333; font-size:16px; font-weight:bold; margin:16px 0 0 10px; _display:inline;}

.cart_end_a a{ color:#014ccc; font-size:14px; font-family:宋体; font-weight:normal;}
.cart_end_a a:hover{ color:#E43232;}

.cart_end_bt{width:180px; height:40px; float:left; margin-left:50px; background-repeat:no-repeat; margin-top:18px; cursor:pointer; _display:inline;}
.width_20{display:inline-block; width:20px;}

#cart_submit_form{ margin:15px auto; overflow:auto;}
#cart_submit{ background:url(../images/cart/cart_submit.gif) no-repeat; width:228px; height:44px; float:right; border:0; cursor:pointer;}

.sb_cart{width:926px; height:auto; border-bottom:2px #dcdcdc dotted; margin:0 auto;}
.sb_con{text-align:center; width:924px; height:auto; margin-top:12px; background-color:#FFE6E6; border:1px solid #dcdcdc; overflow:hidden; padding-bottom:10px;}
.sb_boon{width:100%; height:auto; margin-top:-22px;}
/*---------------------------------------------------------------------------购物车最后一步【end】------------------------------------------------------------------------------------------*/

/*-------第一步(商品加入购物车)-------*/
#freepx{display:inline-block; float:left; height:33px; line-height:33px;}
.cart_span_title{display:inline; width:100px; margin-right:100px;}


/*--继续购物------*/
.menucart{ margin-top:12px; float:left; background-color:#EAEAEA; line-height:33px; border:1px #666 solid;}
.menucart1{margin-top:0px; float:left;}

.spaceh{ float:left; width:12px; height:10px;}
#cartsubright{ float:right; width:300px; text-align:right; height:60px; line-height:60px;}
#sptj{ margin:0 auto; width:964px; }
#xgpj{ margin:0 auto; width:964px; }
.loopsh{ margin:0 auto; width:964px;height:180px; border:1px solid #666666;}

/*-----------old---------------*/
.tjcpmain{ float:left; width:960px; height:164px; text-align:left;}
.tjspaceclass{ float:left; width:16px; height:160px; font-size:0px; line-height:10px;}
.tjcpcontent{ float:left; width:100px; min-height:140px;}
.tjcpcontentpic{ float:left; padding-top:8px; padding-bottom:2px; width:100px; height:100px;}
.tjcpcontenttxt{float:left; width:100px; min-height:40px;}
.tjcpcontenttxt1{ float:left; width:100px; min-height:20px; text-align:center; line-height:20px;}
.tjcpcontenttxt2{ float:left; width:100px; height:18px; text-align:left; line-height:18px;}
.tjcptitlex{ float:left; width:784px; text-align:left; background-color:#DDDDDD; height:32px; line-height:32px;}
/*-----------old---------------*/
.colorfensehong{ color:#FB75A8;}
.redhong{ color:#990000}
.textlv{ color:#144C7D}

/*--显示红色数字---*/
.yi_font_n{	color:#999999; border-bottom:1px solid #eeeeee; font-size:12px; }/*购物单中字体*/
.yi_a{	color:#999999;padding-left:20px;padding-top:5px;padding-bottom:5px; line-height:20px;}


/*-------------------------------------------step2:订单确认-----------------------------------------------------------*/
#tb_pay_list td{ text-align:left;}

#tb_goods_info{ line-height:25px; text-align:center;}
#tb_goods_info td{border-bottom:1px solid #eee; color:#333; font-size:12px;}
.tr_goods_info{border-bottom:1px solid #ccc; background-color:#f8f8f8;font-size:12px; font-weight:normal; color:#999;}

.td_shipping_desc{color:#999; padding:5px 0; line-height:20px; text-align:left;}
.td_shipping_fee{vertical-align:top; padding-top:5px;color:#c00; font-size:12px;}
.td_pay_list{line-height:20px; color:#999;}

.tb_head{width:988px;; height:30px; line-height:30px; background-image:url(../images/cart_jb.jpg); background-repeat:repeat-x;}
.tb_hleft{float:left; margin-left:10px; height:14px;}
.tb_hright{float:right; margin-right:20px;}
.tb2_title{font-size:12px; font-weight:normal; color:#333333; background-color:#ffffff;}
.tb2_con{font-size:12px; font-weight:normal; color:#999999; background-color:#ffffff;}
.tb3_title{background-color:#ffffff; font-size:12px; font-weight:normal; color:#333333; text-align:right; padding-right:30px;}

/*--------------------------------------------------组件模块---------------------------------------------------------------*/



/*--------------------------------------------------加钱赠品---------------------------------------------------------------*/
#outdiv{border:1px #E43232 solid; width:988px; height:auto; padding-bottom:10px; overflow:hidden;}
.th_h{width:95%; height:30px; line-height:30px; border-bottom:1px #dcdcdc solid; text-align:left;}
.th_h_p{width:95px; height:30px; background:url(../images/cart_title2.gif) no-repeat 10px 3px;}
.th_h_txt{height:30px; line-height:30px; color:#E43232;}

.th_content{width:988px;; height:auto;}
.th_pan{border:1px #dcdcdc solid; width:483px; height:125px; margin:12px 0px 0px 5px; float:left;}

.th_g_h{width:483px; height:23px; line-height:23px;}
.th_g_pri{width:100px; height:23px; background-color:#E43232; text-align:center; color:#fff; font-size:15px; font-weight:bold;}
.th_g_name{width:383px; height:23px; background:url(../images/cart_jb2.jpg) repeat-x; text-align:left;}
.th_g_sp{display:inline-block; color:#999; font-size:13px; font-weight:bold; margin-left:20px;}
.th_g_con{width:483px; height:102px;}
.th_g_a{width:100px; height:102px; margin-top:2px; float:left;}

/*--------------------------------------------------加钱赠品END----------------------------------------------------------*/


/*--用户购买表单---*/
.login_input{border:1px #dcdcdc solid; height:24px; line-height:24px; width:190px; padding-left:2px;}
.input_txt a{margin-bottom:5px; display:inline-block;}
.input_txt2{ display:inline-block; height:24px; line-height:24px;}
.input_xin{color:#f00; font-size:12px; font-family:宋体;}
.input_txt3{display:inline-block; margin:0 0 5px 10px; color:#666;}

/*购物车地址*/
.button_next{float:left; line-height:72px; height:72px; border-top:1px solid #dcdcdc; width:990px; text-align:right; margin-top:12px; padding-top:20px;}

/*----------ecshop原始样式-----------------*/
.flowBox{border:0px solid #dddddd;}
.flowBox table{ margin:5px auto;}

/*-----------------------------------------------------------------------login.css全部------------------------------------------------------------------*/
#zmain{ margin:0 auto; width:990px; min-height:320px; overflow:hidden;}
#zmain_left{ float:left; text-align:left; width:500px; }
#zmain_right{ float:right; text-align:left; width:488px;}

#zfk{  float:left; text-align:left; width:496px; height:277px; border:1px solid #cccccc; overflow:hidden;}
#zfkt{ float:left; text-align:left; width:496px; height:115px; border:1px solid #cccccc; margin-top:8px;}
#yfk{  float:right; text-align:left; width:484px; height:402px; border:1px solid #cccccc;}

.spacehang{ float:left; width:10px; font-size:0px; height:100px;}
.fk{ float:left; width:492px; height:396px;  border:2px solid #dddddd;}
.fkmain{ float:left; width:476px; margin:20px 0 0 10px; text-align:left; _display:inline;}
.fkhead{ float:left; width:472px; line-height:24px; padding-bottom:4px; height:24px; border-bottom:1px solid #dd0000; }
.fkheadh{ float:left; width:472px; line-height:28px; height:28px; color:#FF0000; text-align:center}
.fkheadhdd{ float:left; width:472px; line-height:32px; height:48px; color:#FF0000; text-align:center}
.fktable{ float:left; width:472px; line-height:24px; min-height:30px; text-align:center}
.fktext{ float:left; width:472px; line-height:72px; height:72px; text-align:center}
.feise{ color:#9B9B9B}
.hongse{ color:#FF0000;}
.qhei{color:#666666;}
/*-----------------------------------------------------------------------login.css全部结束------------------------------------------------------------------*/